body, html, #root{
  /* max-width: 1280px; COMMENTED BECAUSE IT IS AFFECTING ALL OTHER WEBPAGES */
  /* padding: 2rem;  COMMENTED BECAUSE IT IS AFFECTING ALL OTHER WEBPAGES  */
  /* ADDED NEW PROPERTIES SO THAT EVERY PAGE WILL HAVE THERE OWN CSS AFFECTING IT*/
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;  /* THIS SHOULD ALSO BE REMOVED AS IT IS ALSO AFFECTING ALL THE OTHER PAGES */
}
